%div(data-role="page" id="tumblr_page")
  %div(data-role="header")
    %h1 
      Account
    %a(href="#" id="tumblr_submit" data-theme="b") 
      Save
    
  %div(data-role="content")
    %form{:id => 'tumblr_form', :action => url_for(:action => 'update'), :method => 'POST'}
      %fieldset(data-role="controlgroup")
        - @user.tumblr_blog_names.each_with_index do |blog_name, index|
          %input{ :type =>"radio", 
                  :name => "user[tumblr_blog_name]",
                  :id => "blog-name-#{index}",
                  :value => blog_name,
                  :checked => blog_name == @user.tumblr_blog_name }
          %label{ :for => "blog-name-#{index}"}
            = blog_name
