$bg = #f2f0c1
$blue = #778bf2
$darktext = #333


body
	background-color: $bg
	color: $darktext
	font-family: "Helvetica"
	font-weight: lighter

.bluetext
	color:  $blue
	
#header
	padding: 15px 0 8px
	img
		width: 296px
		height: 72px
	
#blurb
	text-align: center
	font-size: 14px
	padding: 0 12px
	line-height:  16px
	
#login
	text-align: center
	padding: 20px 0
	img
		width:  214px
		height: 66px
		
#services
	table
		td.icon
			img
				width: 69px
				height: 70px
				margin:  4px 10px
		td.status
			vertical-align: middle
			select
				max-width: 180px
		
#logout
	text-align:  center