img.logo {
  width: 296px;
  height: 72px;
  margin: 0 0 0 -15px; }

img.ui-li-icon {
  width: 16px;
  height: 16px; }

p.center {
  text-align: center; }

.instructions {
  text-align: center;
  padding: 15px 0 10px; }

.contact {
  text-align: center;
  font-size: 12px;
  padding: 18px; }

a.add {
  font-weight: normal; }
