body {
  background-color: #f2f0c1;
  color: #333333;
  font-family: "Helvetica";
  font-weight: lighter; }

.bluetext {
  color: #778bf2; }

#header {
  padding: 15px 0 8px; }
  #header img {
    width: 296px;
    height: 72px; }

#blurb {
  text-align: center;
  font-size: 14px;
  padding: 0 12px;
  line-height: 16px; }

#login {
  text-align: center;
  padding: 20px 0; }
  #login img {
    width: 214px;
    height: 66px; }

#services table td.icon img {
  width: 69px;
  height: 70px;
  margin: 4px 10px; }
#services table td.status {
  vertical-align: middle; }

#logout {
  text-align: center; }
