%div(data-role="page")
  %div(data-role="header")
    %a{ :href => url_for(:action => 'logout'), 
        'data-role' => 'button', 
        'data-icon' => 'arrow-l',
        'data-direction' => 'reverse'}
      Log Out
    %h1 Regram
    

  %div(data-role="content")
    %div(data-role="controlgroup")
      - if @user.tumblr
        %a(href="#" data-role="button") 
          = @user.tumblr_blog_name + '.tumblr.com'
      - else
        %a{:rel => 'external', :href => url_for(:action => 'login_tumblr'), 'data-role' => 'button'} 
          Enable Tumblr
      %a(href="#" data-role="button") 
        Enable Twitter
      
