#header
  %img(src='/images/header.png')

#services
  %table
    %tr
      %td.icon
        %img(src='/images/tumblr.png')
      %td.status
        - if @user.tumblr
          %select(name='tumblr_blog_name')
            - for blog_name in @user.tumblr_blog_names
              %option{:selected => blog_name == @user.tumblr_blog_name}
                = blog_name + '.tumblr.com'
        - else
          %a{:href => url_for(:action => 'login_tumblr')} 
            Add Tumblr Account
    / %tr
    /   %td.icon
    /     %img(src='/images/twitter.png')
    /   %td.status
    /     %a
    /       Add Twitter Account
      
#logout
  %a{:href => url_for(:action => 'logout')} 
    log out


