#header
  %img(src="/images/header.png")
#blurb
  Regram can repost any photo on Instagram to your Tumblr, 
  Twitter, or Facebook. All you need to do is type 
  %span.bluetext @regram
  \.
#login
  %a{:href => @authorization_url}
    %img(src="/images/log_in.png")