%div(data-role="page")
  %div(data-role="content")
  
    %img(class="logo" src="/images/header.png")
    
    %div.instructions
      Comment 
      %strong @regram 
      on any Instagram photo (optionally followed by a caption) 
      to repost it to the accounts below. 
      
    / Hack to prevent automatic focusing on first element of list below
    %a(href="#" style="display:none")
      
    %ul(data-role="listview" data-split-icon="delete" data-split-theme="g" data-inset="true")
      %li
        %img(src="/images/facebook.png" class="ui-li-icon")
        - if @user.facebook?
          %a(href="#") 
            %strong= @user.facebook_name
          %a{ :href => url_for(:controller => 'facebook', :action => 'logout'), 
              :title => 'remove',
              'data-transition' => 'fade'}
        - else
          %a{ :rel => 'external', 
              :href => url_for(:controller => 'facebook', :action => 'authorize'),
              :class => 'add' } 
            Add Facebook
      %li
        %img(src="/images/twitter.png" class="ui-li-icon")
        - if @user.twitter?
          %a(href="#") 
            %strong= '@' + @user.twitter_name
          %a{ :href => url_for(:controller => 'twitter', :action => 'logout'), 
              :title => 'remove',
              'data-transition' => 'fade'}
        - else
          %a{ :rel => 'external', 
              :href => url_for(:controller => 'twitter', :action => 'authorize'),
              :class => 'add' } 
            Add Twitter
      %li
        %img(src="/images/tumblr.png" class="ui-li-icon")
        - if @user.tumblr?
          %a{ :href => url_for(:controller => 'tumblr'),
              'data-rel' => 'dialog',
              'data-transition' => 'pop' } 
            = @user.tumblr_blog_name + '.tumblr.com'
          %a{ :href => url_for(:controller => 'tumblr', :action => 'logout'), 
              :title => 'remove',
              'data-transition' => 'fade' }
        - else
          %a{ :rel => 'external', 
              :href => url_for(:controller => 'tumblr', :action => 'authorize'),
              :class => 'add' } 
            Add Tumblr
           
    %a{ :href => url_for(:controller => 'login'), 
        'data-role' => 'button', 
        'data-direction' => 'reverse' }
      Log Out
    %p.contact
      made by
      %a{:href=>'mailto:tom@regr.am'} 
        @tom
      
