%div(data-role="page")
  %div(data-role="content")
  
    %img(class="logo" src="/images/header.png")
    
    %div.instructions
      Comment 
      %strong @regram 
      on any Instagram photo (optionally followed by a caption) 
      to repost it to the accounts below. 
    %ul(data-role="listview" data-theme="g" data-inset="true" data-split-icon="delete" data-split-theme="g")
      %li
        %img(src="/images/tumblr.png" class="ui-li-icon")
        - if @user.tumblr?
          %a(href="#") 
            %strong= @user.tumblr_blog_name + '.tumblr.com'
            %a{ :href => url_for(:controller => 'tumblr', :action => 'logout'), 
                :title => 'remove',
                'data-transition' => 'fade' }
        - else
          %a{:rel => 'external', :href => url_for(:controller => 'tumblr', :action => 'authorize')} 
            Add Tumblr
      %li
        %img(src="/images/twitter.png" class="ui-li-icon")
        - if @user.twitter?
          %a(href="#") 
            %strong= '@' + @user.twitter_name
          %a{ :href => url_for(:controller => 'twitter', :action => 'logout'), 
              :title => 'remove',
              'data-transition' => 'fade'}
        - else
          %a{:rel => 'external', :href => url_for(:controller => 'twitter', :action => 'authorize')} 
            Add Twitter
            
    %a{ :href => url_for(:controller => 'login'), 
        'data-role' => 'button', 
        'data-direction' => 'reverse' }
      Log Out
      
