%div(data-role="page")
  %div(data-role="content")
    %img(class="logo" src="/images/header.png")
    %p.center
      Regram can repost any photo on Instagram to your Tumblr, 
      Twitter, or Facebook. All you need to do is type 
      %strong "@regram".
    %a{:rel => 'external', :href => url_for(:action => 'authorize'), 'data-role'=> 'button'}
      Get Started