%div(data-role="page")
  %div(data-role="content")
    %img(class="logo" src="/images/header.png")
    %p.center
      Regram can repost any Instagram photo to Facebook, Twitter, or Tumblr. All you need to do is comment 
      %strong @regram.
    %a{:rel => 'external', :href => url_for(:action => 'authorize'), 'data-role'=> 'button'}
      Get Started